html, body{
  height:100%;
  width:100%;
  margin:0;

}



body {
 background-color: #59668e;
 background-image:url(immerse.png);
 background-repeat: no-repeat;
 background-position:center;
 background-size:60%;
 color:#ffa8b6;
 text-align:center;

}

.personal-info{
  font-family: "Raleway";
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    margin-top: 100px;
}

.play{
  color:#ffaa19;
}

h1{
  text-align:center;
  font-size: 30pt;
  letter-spacing: 5pt;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #59668e;
}

li {
  padding-left: 5pt;
    float: left;
}

li a {
    color:white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color:#5be1ff;
  display: block;
  color: #59668e;

}

@media (max-width: 700px) {
  body {
   background-size:600px;
  }
}
